language: cpp

compiler:
  - gcc
    # temporarily disabled clang because travis runs out of memory when running the coverage build
    # - clang

before_install:
  - sudo apt-get install -y lcov python-yaml
  - sudo pip install codecov

before_script:
  - mkdir build
  - cd build
  - cmake -DBUILD_TESTS=ON -DBUILD_COVERAGE=ON ..

script:
  - make
  - make test
  - make signals-test-coverage

after_success:
  - codecov -X gcov
